<a href="https://colab.research.google.com/github/SWiseG/DataScience/blob/main/House_Rocket_Ciclo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-- MONTANDO PIPELINE DE TREINAMENTO --

SESSÃO DE IMPORTS

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model as lm

SESSÃO DE LOADING DATA

In [ ]:
df_raw = pd.read_csv(r'/content/kc_house_data.csv', encoding='latin1')

In [ ]:
df_raw.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

SESSÃO DE DATA PREPARATION

In [ ]:
#features dados de treino
x_train = df_raw.drop( ['price', 'date'], axis=1)
#response variable
y_train = df_raw['price'].copy()

SESSÃO DE MODEL TRAINING

In [ ]:
#regressão linear simples, variavel resposta é R$, precisamos fechar o ciclo
#model description
modelLr = lm.LinearRegression()

#model training (fit executa treinamento)
modelLr.fit(x_train, y_train)

#prediction
pred = modelLr.predict(x_train)

In [ ]:
#olhando as 100 primeiras predições
pred[0:100]

array([ 205766.26460968,  731219.64982988,  379097.88265421,
        457424.13432532,  444789.05471818, 1451676.80046195,
        277965.14285812,  135261.77208381,  329843.81624407,
        250731.25050368,  870212.88141898,  437789.7212129 ,
        600311.43498103,  316903.13655575,  611557.85739094,
        944453.29692633,  456573.68626298,  539004.69481039,
        335024.25629843,  210585.07434929,  466088.95603634,
       1116489.11078672,  330386.4502663 ,  130784.11743753,
        545423.99906293,  310538.26026997,  802018.13764909,
        651875.2038284 ,  457699.20615305,  650018.45024579,
        541202.92170096,  332196.71884804,  655096.04733216,
        555240.3375654 ,  319817.17474404,  804301.35470891,
        201145.17195312,  861533.54324508,  103130.7598353 ,
        585745.32147534,  664511.50307355,  742662.60624426,
        863042.39845947,  508391.02023431,  153710.08047346,
        811721.66516491,   32096.77784442,  762323.19584885,
        417855.61065262, 1530097.62528189,  185578.71195409,
        658157.92714008,  471090.25997122,  498290.25253108,
        789802.28617638,  773293.96241434,  271727.3986538 ,
        467150.37020341, 1056923.77322495,  443395.18842532,
        694554.24465641,  237766.54435058,  598068.69850043,
        408857.34579791,  376054.00863788,  744927.55137096,
        879888.08105548,  321711.45186223,  121851.74702504,
        783019.32595652, 1399362.50569153,  460538.49633778,
        800124.29246184,  390335.05311715,  300689.96053664,
        991726.69237243,  413248.79001212,  310476.89799595,
        413980.07473532,  802185.44256433,  412926.15633995,
        218377.00510944,  449654.54032681,  434848.80269804,
        261756.27101993,  819846.02518014,  407338.51403975,
        708935.71931339,  424310.54489845,  177895.94502974,
        297041.36776157,  958741.14250691,  190018.37500697,
        603396.3701043 ,  603396.3701043 ,  795519.96750258,
        354071.72245305,  155387.93358107,  244625.66437735,
        645182.95882823])

SESSÃO DE PERFORMANCE METRICS

In [ ]:
df1 = df_raw.copy()

In [ ]:
df1['prediction'] = pred

In [ ]:
#CasaId - PreçoQueFoiVendida - Predição dada pelo modelo
#df1[['id', 'price', 'prediction']].head()
#df1[['id', 'price', 'prediction', 'error']].head()
df1[['id', 'price', 'prediction', 'error', 'error_abs', 'error_perc','error_perc_abs']].head()

,id,price,prediction,error,error_abs,error_perc,error_perc_abs
0,7129300520,221900.0,205766.264610,16133.735390,16133.735390,7.270723,7.270723
1,6414100192,538000.0,731219.649830,-193219.649830,193219.649830,-35.914433,35.914433
2,5631500400,180000.0,379097.882654,-199097.882654,199097.882654,-110.609935,110.609935
3,2487200875,604000.0,457424.134325,146575.865675,146575.865675,24.267527,24.267527
4,1954400510,510000.0,444789.054718,65210.945282,65210.945282,12.786460,12.786460

In [ ]:
#Calculando o quanto o modelo ta errando? Qual a diferença entre o valor real e o valor que meu modelo erra?
#Criando coluna error - preço - predição
df1['error'] = df1['price'] - df1['prediction']

In [ ]:
#Analisando os dados referenciados na linha 38 - Entende-se que, 
#if Preço real seja > Predição do Modelo { Error = Positivo (SubEstimação) } else Preço real seja < Predição do Modelo { Error = Negativo (SuperEstimação) }

In [ ]:
#Pegando apenas valores positivos deixando de forma absoluta as SuperEstimações
#ERRO ABSOLUTO
df1['error_abs'] = np.abs( df1['error'] )

In [ ]:
#Toda vez que tiver erro aquele valor pode estar errado em quanto para cada uma das predições?
#Toda vez que o modelo realizar uma predição em quanto eu posso estar errado? = { res = 125921.54419398597}
#Dependendo do range a grandeza da variável resposta pode ser pequena ou grande na interpretação, neste caso trabalhamos na casa dos milhões então
#O range depende!

#Mean Absolute Error - MEDIA DO ERRO ABSOLUTO
mae = np.mean(df1['error_abs'])
print('MAE: {} '.format( mae ))

MAE: 125921.54419398609

In [ ]:
#Uma vez que eu encontrei o erro quantos % corresponde ao valor real?
#ERRO PERCENTUAL
df1['error_perc'] = ((df1['price'] - df1['prediction']) / df1['price']) * 100

In [ ]:
#ERRO PERCENTUAL ABSOLUTO
df1['error_perc_abs'] = np.abs(df1['error_perc'])

In [ ]:
#Toda vez que meu modelo faz previsão pro problema em média erro 125921 em relação ao preço real e desses 125921 corresponde
#a 25% do valor de venda real

#Toda vez que faz predição está sujeito a 25% de erros - Ver se é bom ou ruim

#Mean Absolute Percentage Error = MEDIA PERCENTUAL DE ERRO ABSOLUTO
mape = np.mean ( df1['error_perc_abs'])
print('MAPE: {} '.format( mape ))

MAP: 25.58051253618782