<a href="https://colab.research.google.com/github/SWiseG/-DataScience/blob/main/House_Rocket_Ciclo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-- EVITANDO O OVERFITING --

SESSÃO DE IMPORTS

In [86]:
import pandas as pd
import numpy as np
from sklearn import linear_model as lm
from sklearn import model_selection as ms
from sklearn import metrics as m

SESSÃO DE LOADING DATA

In [22]:
df_raw = pd.read_csv(r'/content/kc_house_data.csv', encoding='latin1')

In [23]:
df_raw.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

SESSÃO DE DATA PREPARATION

In [73]:
#features dados de treino
X = df_raw.drop( ['price', 'date'], axis=1)
#response variable
Y = df_raw['price'].copy()

In [83]:
#Separa dados para TREINAMENTO e TESTE aleatoriamente
#test_size = range de aplicação 20%
#random_state = garante que toda vez que rodar essa linha separa as mesmas linhas pro conjunto de treino e teste
x_train, x_test, y_train, y_test = ms.train_test_split( X, Y, test_size=0.2, random_state=42 )

SESSÃO DE MODEL TRAINING

In [88]:
#regressão linear simples, variavel resposta é R$, precisamos fechar o ciclo
#model description
modelLr = lm.LinearRegression()

#model training (fit executa treinamento)
modelLr.fit(x_train, y_train)

#prediction - training
pred_train = modelLr.predict(x_train)

#prediction - test
pred_test = modelLr.predict(x_test)

SESSÃO DE PERFORMANCE METRICS

In [94]:
#TRAINING - MAE, MAPE

mae_train = m.mean_absolute_error(y_train, pred_train)
mape_train = np.mean( np.abs( (y_train - pred_train) / y_train)) * 100

#TEST

mae_test = m.mean_absolute_error(y_test, pred_test)
mape_test = np.mean( np.abs( (y_test - pred_test) / y_test)) * 100

In [96]:
data = {
    'Dataframe': ['Training', 'Test'],
    'MAE': [mae_train, mae_test],
    'MAPE': [mape_train, mape_test]
}

#Performance medida pelo teste
#Erro em relação ao teste, vai ser sempre maior
pd.DataFrame( data )

  Dataframe            MAE       MAPE
0  Training  125042.255205  25.541989
1      Test  127474.102963  24.958991

In [ ]:
#Próximo ciclo - objetivo criar ciclos para diminuir média de erro